@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('https://grizly.club/uploads/posts/2022-12/1670595401_grizly-club-p-temnii-fon-s-uzorami-26.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}